/*
## Layout

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

### Body Copy

- Font size: 18px

### Headings, Call-to-actions, Navigation

- Family: [Barlow Condensed](https://fonts.google.com/specimen/Barlow+Condensed)
- Weights: 400, 700
- font-family: 'Barlow Condensed', sans-serif;

### Body

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 400 
- font-family: 'Barlow', sans-serif;


### Media queries
1248px = 78em  Small Desktop
864px = 54em   Tablet / phone switch
592px = 37em   Phone 

 
@media only screen and (max-width: 78em) {}
@media only screen and (max-width: 54em) {} 
@media only screen and (max-width: 37em) {} 
@media only screen and (max-width: 40.625em) {} 
@media only screen and (max-width: 34.375em) {} 




*/

:root {
  --m-red: hsl(0, 100%, 68%);

  --n-light-blue: hsl(207, 33%, 95%);
  --n-grey-blue: hsl(231, 7%, 65%);
  --n-dark-blue-1: hsl(230, 11%, 40%);
  --n-dark-blue-2: hsl(230, 29%, 20%);
  /* color: var(--main-color) */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 78em) {
    font-size: 55%;
  }
  @media only screen and (max-width: 37em) {
    font-size: 52%;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding-left: 10vw;
  overflow: hidden;

}

/*/////////////////////////////////////////*/
/* TYPOGRAPHY */

h1 {
  font-size: 6.8rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  margin-right: 1%;
  font-weight: 700;
  color: var(--n-dark-blue-2);
  @media only screen and (max-width: 78em) {
    font-size: 5.5rem;
  }
  @media only screen and (max-width: 37em) {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: var(--n-grey-blue);
  letter-spacing: 0.3rem;
  @media only screen and (max-width: 78em) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 2.3rem;
  width: 50%;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
  color: var(--n-dark-blue-2);
  line-height: 3.5rem;
  @media only screen and (max-width: 78em) {
    font-size: 1.8rem;
    width: 100%;
    line-height: 2.5rem;
  }
}

/*/////////////////////////////////////////*/
/* Utilities */

.u-margin-bot-S {
  margin-bottom: 1.5rem;
  @media only screen and (max-width: 54em) {
    margin-bottom: 1rem;
  }
}
.u-margin-bot-M {
  margin-bottom: 3rem;
  @media only screen and (max-width: 54em) {
    margin-bottom: 1.5rem;
  }
}
.u-margin-bot-L {
  margin-bottom: 6rem;
  @media only screen and (max-width: 54em) {
    margin-bottom: 2rem;
  }
}

/*/////////////////////////////////////////*/
/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding-right: 10vw;
  /* @media only screen and (max-width: 54em) {
    padding-right: 0;
  } */
}

.header::before {
  content: "";
  position: absolute;
  right: 0%;
  top: 0%;
  width: 50%;
  height: 50%;
  background-color: var(--n-light-blue);
  z-index: -1;
  border-bottom-left-radius: 10rem;
}

.nav > *:not(:last-child) {
  margin-right: 3vw;
}

.nav__link:hover {
  text-decoration: underline;
  color: currentColor;
}

.nav__dote {
  font-size: 3rem;
  color: var(--n-grey-blue);
}
.nav {
  overflow: hidden;
  @media only screen and (max-width: 54em) {
    display: none;
  }
}

.nav__link,
.nav__link:active,
.nav__link:visited {
  font-style: none;
  border-style: none;
  text-decoration: none;

  font-family: "Barlow Condensed", sans-serif;
  color: var(--n-dark-blue-2);
  font-size: 2.6rem;
  font-weight: 700;

  @media only screen and (max-width: 78em) {
    font-size: 2.3rem;
  }
}

.nav__link-login,
.nav__link-login:active,
.nav__link-login:visited {
  color: var(--n-grey-blue);
}

/*/////////////////////////////////////////*/
/* Main section */

.hero__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 75vh;
  align-items: center;
  @media only screen and (max-width: 54em) {
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 1fr;
  }
}

.hero__section-text {
  @media only screen and (max-width: 54em) {
    grid-row: 2/3;
    padding-right: 10%;
  }
}

.hero__section-cta {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 37em) {
    justify-content: space-between;
  }
}

.hero-new {
  background-color: var(--n-dark-blue-2);
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  margin-right: 2rem;
}

.hero__slogan {
  width: 80%;
  @media only screen and (max-width: 54em) {
    width: 100%;
  }
}

.hero__section-illu {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 54em) {
    align-items: center;
  }
}

.illustration {
  transform: translateX(6%) scale(1.2);
  transform-origin: center;
  @media only screen and (max-width: 78em) {
    transform: translateX(18%) scale(1.4);
    height: 50%;
  }
  @media only screen and (max-width: 54em) {

    transform: translateX(5%) scale(1);
    height: 100%;
  }
  @media only screen and (max-width: 37em) {
    transform: translateX(-4%) scale(1);
    height: 100%;

  } 
}

/*////////////////////////////////////////*/
/* Button */

.hero__section-cta {
  gap: 4rem;

  @media only screen and (max-width: 37em) {
    gap: 0;
    text-align: center;
  }
}

.btn__cta,
.btn__cta:visited,
.btn__cta:active {
  font-style: none;
  border-style: none;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding: 1.5rem 3rem;
  background-color: var(--m-red);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  @media only screen and (max-width: 37em) {
    padding: 1.5rem 3rem;
  }
}

.btn:hover {
  filter: brightness(1.6);
}

.cta-text {
  color: white;
  font-weight: 700;
}

/*/////////////////////////////////*/
/* Phone Menu */

.nav__dote {
  color: var(--n-grey-blue);
}

.nav-phone {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  background-color: white;
  width: 80%;
  min-width: 300px;
  height: 40%;
  box-shadow: 0 2rem 4rem hsla(230, 29%, 20%, 0.5);
}

.nav-phone__hr {
  border: solid 1px hsl(231, 7%, 65%);
  width: 80%;
}

.nav-phone__link,
.nav-phone__link:active,
.nav-phone__link:visited {
  font-style: none;
  border-style: none;
  text-decoration: none;

  font-family: "Barlow Condensed", sans-serif;
  color: var(--n-dark-blue-2);
  font-size: 2.6rem;
  font-weight: 700;

  @media only screen and (max-width: 78em) {
    font-size: 2.3rem;
  }
}

.nav-phone__link-login,
.nav-phone__link-login:active,
.nav-phone__link-login:visited {
  color: var(--n-grey-blue);
}

/*///////////////////////////////////////////////*/
/* Javascript & animation utilities */

.hide-phone-nav,
.hide-menu {
  display: none;
  transition: all 2s;
}

.hide {
  @media only screen and (min-width: 54em) {
    display: none;
  }
}
.wild-hide {
  @media only screen and (max-width: 37em) {
    display: none;
  }
}

.small-hide {
  @media only screen and (min-width: 37em) {
    display: none;
  }
}

@media only screen and (max-width: 54em) {
}
