:root {
  --pr--soft-cyan: hsl(174, 77%, 80%);
  --pr--strong-cyan: hsl(174, 86%, 45%);
  --pr--light-grayish-red: hsl(14, 92%, 95%);
  --pr--light-red: hsl(15, 100%, 70%);
  --pr--paleblue: hsl(226, 100%, 87%);

  --nt-white: hsl(0, 0%, 100%);
  --nt-paleblue-gb: hsl(230, 100%, 99%);
  --nt-light-grayish-blue-1: hsl(224, 65%, 95%);
  --nt-light-grayish-blue-2: hsl(223, 50%, 87%);
  --nt-text-grayish-blue: hsl(225, 20%, 60%);
  --nt-dark-desaturated-blue: hsl(227, 35%, 25%);
}

/* /// MEDIA QUERY SELECTOR

1000px = 62,5em   Design Breakpoint
900px = 56.25em   Landscape Tablet 
650px = 40,625em  Design Breakpoint & Tablet portrait
560px = 35em  Mobile 

@media only screen and (max-width: 62.5em) {}
@media only screen and (max-width: 56.25em) {} 
@media only screen and (max-width: 40.625em) {} 
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 40.625em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;

  background-image: url(images/bg-pattern.svg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  @media only screen and (max-width: 40.625em) {
    background-size: 100% 30%;
  }
  min-width: 450px;
}

/* /////////////////////////////////////////////////////
//// TYPOGRAPHY */

h1 {
  font-size: 3.6rem;
}

h3 {
  color: var(--nt-text-grayish-blue);
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h6 {
  font-size: 1.4rem;
  font-weight: 600;
  @media only screen and (max-width: 56.25em) {
    font-size: 1.8rem;
  }
}

p {
  color: var(--nt-text-grayish-blue);
  font-size: 1.4rem;
  font-weight: 600;
  @media only screen and (max-width: 56.25em) {
    font-size: 1.8rem;
  }
}

hr {
  border-color: 1px solid hsl(223, 50%, 87%);
  opacity: 0.4;
}

.price-value {
  font-size: 4rem;
  color: var(--nt-dark-desaturated-blue);
  font-weight: 800;
  margin-right: 1rem;
}

/* /////////////////////////////////////////////////////
//// UTILITIES */

.u-margin-bot-m {
  margin-bottom: 6vh;
}

/* /////////////////////////////////////////////////////
//// HEADER */

.header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media only screen and (max-width: 40.625em) {
    height: 25vh;
  }
}

.subheader {
  margin-top: 1.6rem;
}

/* /////////////////////////////////////////////////////
//// MAIN SECTION */

.component {
  height: 60vh;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 40.625em) {
    height: 65vh;
  }
}
.component-box {
  background-color: var(--nt-white);
  min-width: 55rem;
  max-width: 70rem;
  width: 40vw;
  border-radius: 1rem;
  box-shadow: 0rem 3rem 6rem -2rem hsla(227, 35%, 25%, 0.2);
  display: grid;
  grid-template-rows: 1.5fr 1px 1fr;

  @media only screen and (max-width: 40.625em) {
    min-width: 30em;
    max-width: 54em;
    width: 90%;
  }
}

.component-box-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 4rem;
  align-items: center;

  @media only screen and (max-width: 40.625em) {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) 1.5fr 1fr;
  }
}

.header-3-grid {
  grid-row: 1/2;
  grid-column: 1/2;
  @media only screen and (max-width: 40.625em) {
    justify-self: center;
  }
}

.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-align {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 40.625em) {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: center;
  }
}

.bar-price {
  grid-row: 2/3;
  grid-column: 1/3;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 40.625em) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.billing-options {
  grid-row: 3/4;
  grid-column: 1/3;
  justify-self: end;

  display: flex;
  align-items: center;

  @media only screen and (max-width: 56.25em) {
    flex-wrap: wrap;
    gap: 1.6rem;
  }
  @media only screen and (max-width: 40.625em) {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

.discount {
  margin-left: 1.5rem;
  color: var(--pr--light-red);
  background-color: var(--pr--light-grayish-red);
  @media only screen and (max-width: 56.25em) {
    margin-left: 0rem;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
  }
}

.hide {
  @media only screen and (max-width: 56.25em) {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;

  @media only screen and (max-width: 40.625em) {
    flex-direction: column;
    gap: 2rem;
  }
}
.assurance {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  flex-shrink: 1;

  @media only screen and (max-width: 40.625em) {
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
  }
}

.verified {
  display: flex;
  align-items: center;
}

.check-icon {
  width: 1rem;
  height: 1rem;
  transform: scale(1.5);
  fill: green;
  margin-right: 1.5rem;
}

/* /////////////////////////////////////////////////////
//// SLIDDER & BTN */

/* Range input*/

.range-slider {
  width: 100%;
  appearance: none;
  height: 1rem;
  background: linear-gradient(
    90deg,
    hsl(174, 86%, 45%) 50%,
    hsl(224, 65%, 95%) 50%
  );
  outline: none;
  /* transition: all 0.2s; */
  border-radius: 3rem;
  box-shadow: 0 0.6rem 2rem hsla(227, 35%, 25%, 0.4);
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 4rem;
  height: 4rem;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: var(--pr--strong-cyan);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 2rem 3rem hsla(174, 86%, 45%, 0.8);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 4rem;
  height: 4rem;
  background-image: url(images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-color: var(--pr--strong-cyan);
  padding: 1rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2rem 3rem hsla(174, 86%, 45%, 0.8);
  cursor: pointer;
}

/* Slidder */
.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 3.4rem;
  margin-inline: 2rem;
  cursor: pointer;

  @media only screen and (max-width: 56.25em) {
    margin-inline: 0rem;
    width: 7.8rem;
    height: 4rem;
  }
}

.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.4rem;
  background-color: var(--nt-light-grayish-blue-2);
  transition: all 0.4s;
}

input:checked + .slider::before {
  transform: translateX(3.6rem);
}

input:checked + .slider {
  background-color: var(--pr--strong-cyan);
}

.slider::before {
  display: block;
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  top: 0.4rem;
  left: 0.4rem;
  transition: all 0.4s;
  border-radius: 50%;
  background-color: var(--nt-white);
}

@media only screen and (max-width: 56.25em) {
  .slider::before {
    display: block;
    position: absolute;
    content: "";
    height: 3.3rem;
    width: 3.3rem;
    top: 0.4rem;
    left: 0.4rem;
    transition: all 0.4s;
    border-radius: 50%;
    background-color: var(--nt-white);
  }
}

/* Button */
.btn-trial,
.btn-trial:focus {
  width: 18rem;
  height: 4rem;
  border-radius: 10rem;
  border: none;
  background-color: var(--nt-dark-desaturated-blue);
  box-shadow: 0 1rem 2rem hsla(227, 35%, 25%, 0.2);
  color: white;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  transition: all 0.2s;

  @media only screen and (max-width: 56.25em) {
    width: 18rem;
    height: 6rem;
  }

  @media only screen and (max-width: 40.625em) {
    width: 26rem;
    height: 6rem;
  }
}

.btn-trial:hover {
  transform: translateY(-3px);
}

.btn-trial:active {
  transform: translateY(-1px);
}
